.para_1{width: 1000}
p {font-family: Segoe UI; font-size :120%}
p {font-weight: bold;}

body {
background-image: url(teal-370129_960_720.png);
  color: black
}



html {
    font-family:Segoe UI; font-size :100%
}


p1 {font-family: Segoe UI; font-size :180%}
p1 {font-weight: bold;}



p2 {font-family: Segoe UI; font-size :180%}
p2 {font-weight: bold;}



	.